[Unit]
Description=Advent Service Listening on GPIO Key for User %i
Wants=prniolet-server.service

[Service]
Type=simple
User=%i
ExecStart=/usr/local/bin/prniolet-advent

[Install]
WantedBy=multi-user.target
